.card {
    background-color: #6594B1;
    border-radius: 25px;
    border: 2px solid #6594B1;
    padding: 20px;
    width: 200px;
    height: 200px;
    color: inherit;
}

.card:hover {
    text-shadow: black;
    cursor: default;
}